
.wrapper-grid {
  display: grid;
  grid-row-gap: 40px;
  justify-content: center;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 76%;
  @media (min-width: $breakpoint-tablet) {
    grid-column-gap: 40px;
    grid-template-columns: 40% 40%;
  }
  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 25% 25% 25%;
  }
}
