.container-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.tittle-character {
  font-family: $typo-secondary;
  font-size: 20px;
}

.imageCharacter {
  width: 100%;
}

.icon-death {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-house {
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 50px;
}

.Gryffindor {
  background-image: url("/images/gryffindor.png");
}

.Slytherin {
  background-image: url("/images/slytherin.png");
}

.Hufflepuff {
  background-image: url("/images/hufflepuf.png");
}

.Ravenclaw {
  background-image: url("/images/ravenclaw.png");
}

.container-character {
  position: relative;
  background-color: $color-primary;
  padding: 18px 25px 5px 25px;
  border-radius: 10px;
  height: 345px;
  margin-top: 30px;
  max-width: 400px;
  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.line-height-lg {
  line-height: 1.5;
}
