
$typo-primary: 'Roboto', sans-serif;
$typo-secondary: 'Montez', cursive;

$color-primary: #ece0b6;
$color-secondary: #1b0a00;
$color-terciary: #E8CA65;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1000px;
