body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}


/* Header */

.header {
  height: 100px;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tittle-lg {
  margin-top: 0;
  color: #210f05;
  font-size: 28px;
  @media (min-width: 418px) {
    font-size: 36px;
  }
}

/* Input */

.inputName {
  display: block;
  height: 30px;
  border: solid 1px #E8CA65;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
  width: 80%;
}

/* Item */

.container-character {
  width: 80%; /* Provisional */
  background-color: #ece0b6;
  padding: 24px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.container-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.tittle-character {
  font-family: 'Montez', cursive;
  font-size: 20px;
}

.imageCharacter {
  width: 100%;
}

.icon-death {
  width: 40px;
}

.alive {
  display: none;
}

.Gryffindor {
  background-image: url("gryffindor.png");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 50px;
}

.Slytherin {
  background-image: url("slytherin.png");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 50px;
}

.Hufflepuff {
  background-image: url("hufflepuf.png");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 50px;
}

.Ravenclaw {
  background-image: url("ravenclaw.png");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 50px;
}
